<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h5 class="text-dark">Chính sách mua hàng</h5>
            <ul class="list-group list-group-flush vt-list-ft">
                <li class="list-group-item">
                    <img src="~/images/change.png" class="mr-3" width="25" />
                    Đổi trả tron 14 ngày
                </li>
                <li class="list-group-item">
                    <img src="~/images/change.png" class="mr-3" width="25" />
                    Cam kết hàng chính hảng
                </li>
                <li class="list-group-item">
                    <img src="~/images/change.png" class="mr-3" width="25" />
                    Freeship cho đơn hàng trên 1 triệu
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <h5 class="text-dark">Thông tin liên hệ</h5>
            <ul class="list-group list-group-flush vt-list-ft">
                <li class="list-group-item">
                    <img src="~/images/fb.png" class="mr-3" width="25" />
                    <a class="text-secondary" href="https://www.fb.com/dangviettoan99">
                    https://www.fb.com/dangviettoan99
                    </a>
                </li>
                <li class="list-group-item">
                    <img src="~/images/instagram.png" class="mr-3" width="25" />
                    <a class="text-secondary" href="https://www.fb.com/dangviettoan99">
                    dangtoan030@gmail.com
                    </a>
                </li>
                <li class="list-group-item">
                    <img src="~/images/phone.png" class="mr-3" width="25" />
                    076.045.516
                </li>
                <li class="list-group-item">
                    <img src="~/images/address.png" class="mr-3" width="25" />
                    123 Nguyễn Tri Phương, P.8, Q.10, TP.HCM
                </li>
            </ul>
        </div>
    </div>
</div>
<hr />
<p class="text-center text-dark">&copy; Copyright Watch Shop, Hồ Chí Minh City - <a asp-area="Admin" asp-controller="Home" asp-action="Index">Đăng nhập</a> </p>
