@using System.Globalization;
@{
    ViewData["Title"] = "Home Page";
}
@section Css{
    <link href="~/css/home.css" rel="stylesheet" />
}
<h1>Đặt hàng thành công</h1>
<a href="/Home/Index">Trở về trang chủ</a>